{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}DDA.AC 시작하기{% endblock %}

{% block content %}
<div class="section-login section-center">
    <h3 class="h1-point">DDA.AC 시작하기</h3>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p>
            {% blocktrans with site.name as site_name %}복잡한 절차 없이, 아래의 방법으로 간편하게 DDA.AC을 이용하세요.{% endblocktrans %}
        </p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers" style="padding-left: 0">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

{#            <div class="login-or">{% trans 'or' %}</div>#}

        </div>

        <a class="small-link" href="">로그인에 어려움이 있나요?</a>

    {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
    {% endif %}
{#    <form class="login" method="POST" action="{% url 'account_login' %}">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        {% if redirect_field_value %}#}
{#            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
{#        {% endif %}#}
{#        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
{#    </form>#}
</div>

{% endblock %}
