{% extends "settings/settings_base.html" %}

{% block head_title %}설정{% endblock %}

{% block content_header %}
    <div class="container-fluid dashboard-header-cover" style="background: linear-gradient(rgba(20, 20, 20, .3), rgba(20, 20, 20, .3)),
        url('http://dda.ac/static/img/mainbackimg.jpg') center 20% no-repeat;">
        <div class="dashboard-header-bg">
            <div class="container">
                <div class="dashboard-header col-lg-12">
                    <img class="dashboard-prigile-img col-xs-12 col-md-2" src="http://dda.ac/static/img/titleicon.png">
                    <p class="nickname">DDA.AC
                        <label class="switch" style="margin-bottom: -2px; margin-left: 15px;">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </p>
                    <p class="tip">팔로워 수 : 6,204 &nbsp;|&nbsp; 추천 : 315 &nbsp;|&nbsp; 리뷰 : 425</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="container">
        <ul class="dashboard-subnav">
            <li><a href="/settings/dashboard">대시보드</a></li>
            <li><a href="/settings/contents">컨텐츠</a></li>
            <li><a href="/settings/reviews">리뷰</a></li>
            <li class="onlink"><a href="/">설정</a></li>
        </ul>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}